input[type='file'] {
    display: none
}

/* Aparência que terá o seletor de arquivo */
.label_file {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 10px
}

.login-wrap {
    max-width: 800px;
    /* padding-top: 8vh; */
    margin: 0 auto;
}