.bg-cinza {
    background-color: rgb(230, 230, 230)
}

footer {
    margin-top: 300px;
    width: 100%;

}

.border-cizna{
    border: 1px solid grey;
}

.bg-abaixo{
    background-color: rgb(255, 94, 94);
}
.bg-acima{
    background-color: rgb(138, 245, 138);
}