.au-btn1 {
    line-height: -45px;
    padding: 0 -35px;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.au-btn-icon1 i {
    vertical-align: baseline;
    margin-right: 5px;
}

.au-btn--small1 {
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
}

.card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
 
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.table {
    width: 97% !important;
}

.table-data2.table thead th {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    vertical-align: top;
    padding: 15px 40px;
    padding-right: 10px;
}

.table-data2.table tbody {
    background: rgb(242, 247, 203);
}

.table-data__tool .table-data__tool-right1 {
    /* margin-top: 10px; */
    margin: auto;
}
.bg-grey1{
    background-color: rgb(252, 0, 0) !important;
}
input[type=checkbox1],
input[type=radio1] {
    box-sizing: border-box;
    padding: 0;
    margin-left: 15px;
}

